{% extends "base.html" %}

{% block content %}

         <h1 class = "text-center">Pie views for covid19 in Benin</h1>

        <div class = "text-center container" id="container" style="width: 95%;">
            <canvas id="pie-chart"></canvas>
        </div>
        <div class = "container table_margin">

          <table class="table caption-top">



            <thead class = "table-dark">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">TotalCases</th>
                <th scope="col">NewCases</th>
                <th scope="col">TotalDeaths</th>

                <th scope="col">NewDeaths</th>
                <th scope="col">TotalRecovered</th>
                <th scope="col">NewRecovered</th>
                <th scope="col">ActiveCases</th>

                <th scope="col">Serious,Critical</th>
                <th scope="col">Population</th>
                <th scope="col">Continent</th>
              </tr>
            </thead>
            <tbody>
              <tr>
      
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                
              </tr>
             
            </tbody>
          </table>

        </div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script><script>
            var config = {
              type: 'pie',
              data: {
                datasets: [{
                  data: [1780000, 1630000, 582602, 416522, 411634, 318332, 318332, 306659, 233040],
                  backgroundColor: [
                    '#ff0000', '#0000ff', '#ff0080', '#73ffff', '#5c26ff', '#002db3', '#ffff26', '#4cff4c', '#ff00ff'
                  ],
                  label: 'Population'
                }],
                labels: ['Manila City', 'Davao City', 'Makati', 'Pasay City', 'Angeles City', 'Tarlac City', 'Malolos', 'San Fernando', 'Olongapo City']
              },
              options: {
                responsive: true
              }
            };
        
            window.onload = function() {
              var ctx = document.getElementById('pie-chart').getContext('2d');
              window.myPie = new Chart(ctx, config);
            };
          </script>
    
{% endblock %}