{% extends "base_upload.html" %}

{% block content %}

        <h1 class = "text-center">Last Statistics of Covid 19 in the World</h1>

        <div class="d-flex justify-content-center align-items-center custom-button">
            <button type="button" class="btn btn-success">Click here to upload latest data from the web now</button>
        </div>
        
       
        <div class = "container table_margin">

          <table class="table caption-top">



            <thead class = "table-dark">
              <tr>
                <th scope="col">Country</th>
                <th scope="col">TotalCases</th>
                <th scope="col">NewCases</th>
                <th scope="col">TotalDeaths</th>

                <th scope="col">NewDeaths</th>
                <th scope="col">TotalRecovered</th>
                <th scope="col">NewRecovered</th>
                <th scope="col">ActiveCases</th>

                <th scope="col">Serious,Critical</th>
                <th scope="col">Population</th>
                <th scope="col">Continent</th>
              </tr>
            </thead>
            <tbody>
              <tr>
      
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>

                <td>Mark</td>
                <td>Otto</td>
                
              </tr>
             
            </tbody>
          </table>

        </div>

    
{% endblock %}