{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/user/index.css' %}" />
    <link rel="stylesheet" href="{% static 'accounts/user/signup.css' %}" />
</head>







<body class="">
    
    {% block content %}
    
    {% endblock content %}
    <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>
</body>
</html>